Repository JamsRepos/Tracearr: changes, and which Codecov flags are due for each by the changed paths.
All: Utilities, Services, Routes, Background Jobs

Add tests for libraryStats service
  apps/server/src/services/__tests__/libraryStats.test.ts
Due: Services

Added the ability to create a 4K transcoding rule
  apps/mobile/app/alerts.tsx
  apps/mobile/app/violation/[id].tsx
  apps/server/src/db/schema.ts
  apps/server/src/services/rules.ts
  apps/web/src/pages/Rules.tsx
  apps/web/src/utils/violationDescription.ts
  packages/shared/src/constants.ts
  packages/shared/src/index.ts
  packages/shared/src/schemas.ts
  packages/shared/src/types.ts
  packages/test-utils/src/factories/rule.ts
Due: Services

Add 4K Transcoding rule and icon to user page
  apps/mobile/app/user/[id].tsx
Due: none

Resolve a TON of lint issues
  apps/mobile/app/(drawer)/(tabs)/history.tsx
  tsconfig.eslint.json
Due: none

Bunch of memory handling improvments
  apps/server/src/index.ts
  apps/server/src/jobs/importQueue.ts
  apps/server/src/jobs/maintenanceQueue.ts
  apps/server/src/jobs/notificationQueue.ts
  apps/server/src/jobs/sseProcessor.ts
  apps/server/src/services/cache.ts
  apps/server/src/services/imageProxy.ts
  apps/server/src/services/notifications/agents/discord.ts
  apps/server/src/services/notifications/agents/json-webhook.ts
  apps/server/src/services/pushNotification.ts
Due: Services, Background Jobs

Test fixes
  apps/server/src/services/__tests__/cache.test.ts
  apps/server/src/services/__tests__/notify.test.ts
Due: Services

Enhance formatWatchTime to include years (#207)
  apps/web/src/components/ui/stat-card.tsx
Due: none

Fix materializd view rebuilding
  apps/server/src/db/timescale.ts
Due: none

Update build script to use a custom copy-locales script for multi os support
  packages/translations/package.json
  packages/translations/scripts/copy-locales.js
Due: none

Add IP configuration warning banner and endpoint
  apps/server/src/routes/settings.ts
  apps/web/src/components/layout/IpWarningBanner.tsx
  apps/web/src/components/layout/Layout.tsx
  apps/web/src/components/layout/ServerHealthBanner.tsx
  apps/web/src/components/ui/alert.tsx
  apps/web/src/lib/api.ts
  packages/translations/src/locales/de/settings.json
  packages/translations/src/locales/en/settings.json
  packages/translations/src/locales/pt/settings.json
Due: Routes

Fixed lint error due to not being used
  apps/server/src/routes/settings.ts
Due: Routes

Filter out null IP addresses when checking for unique IPs
  apps/server/src/routes/settings.ts
Due: Routes

Add IP Configuration Warning Banner (#235)
  apps/server/src/routes/settings.ts
  apps/web/src/components/layout/IpWarningBanner.tsx
  apps/web/src/components/layout/Layout.tsx
  apps/web/src/components/layout/ServerHealthBanner.tsx
  apps/web/src/components/ui/alert.tsx
  apps/web/src/lib/api.ts
  packages/translations/src/locales/de/settings.json
  packages/translations/src/locales/en/settings.json
  packages/translations/src/locales/pt/settings.json
Due: Routes

Fix lint issues, make lint quieter for tests.
  apps/web/src/components/library/LibraryEmptyState.tsx
  apps/web/src/pages/Debug.tsx
  eslint.config.js
Due: none

Much stricter snapshotting, plus agressive cleanup and consoldiated logic
  apps/server/src/jobs/librarySyncQueue.ts
  apps/server/src/jobs/maintenanceQueue.ts
  apps/server/src/routes/library/status.ts
  apps/server/src/services/__tests__/librarySync.test.ts
  apps/server/src/services/librarySync.ts
  apps/server/src/utils/snapshotValidation.ts
Due: Utilities, Services, Routes, Background Jobs

Add grouping for jobs
  apps/server/src/jobs/maintenanceQueue.ts
  apps/server/src/routes/maintenance.ts
  apps/web/src/components/settings/JobsSettings.tsx
  apps/web/src/lib/api.ts
  packages/shared/src/types.ts
Due: Routes, Background Jobs

Fix plex server count on update (#248)
  apps/web/src/pages/Settings.tsx
Due: none

Fix #240
  apps/server/src/services/mediaServer/shared/baseMediaServerClient.ts
Due: Services

fix broken tests
  apps/server/src/routes/__tests__/debug.test.ts
  apps/server/src/routes/__tests__/maintenance.test.ts
Due: Routes

fix type issues
  apps/server/src/routes/library/growth.ts
  apps/server/src/routes/library/quality.ts
  apps/server/src/routes/library/stats.ts
  apps/server/src/routes/library/storage.ts
Due: Routes

missed a file - oops
  apps/server/src/index.ts
Due: none

Restrict timescale to same min valid year
  apps/server/src/db/timescale.ts
Due: none

mobile url detection
  apps/mobile/app/(auth)/pair.tsx
  apps/mobile/src/lib/utils.ts
Due: none

Add Stack.Toolbar to dashboard for iOS native menus
  apps/mobile/app/(drawer)/(tabs)/(dashboard)/index.tsx
Due: none

Fix expo-symbols version for SDK 55 compatibility
  apps/mobile/package.json
  pnpm-lock.yaml
Due: none

Add tests for comparison utilities
  apps/server/src/services/rules/__tests__/comparisons.test.ts
  apps/server/vitest.unit.config.ts
Due: Services

Add Zod validation to bulk rule endpoints
  apps/server/src/routes/rules.ts
  packages/shared/src/index.ts
  packages/shared/src/schemas.ts
Due: Routes

Add V2 rules support to mobile violation detail screen
  apps/mobile/app/violation/[id].tsx
  apps/mobile/src/components/violations/ActionResultsList.tsx
Due: none

Update API client for single-server auth model
  apps/mobile/src/lib/api.ts
Due: none

Add light mode support to mobile theme
  apps/mobile/global.css
Due: none

Add GlassCard component with expo-glass-effect
  apps/mobile/package.json
  apps/mobile/src/components/ui/glass-view.tsx
  apps/mobile/src/components/ui/index.ts
  pnpm-lock.yaml
Due: none

Migrate UI components from StyleSheet to NativeWind
  apps/mobile/src/components/ErrorBoundary.tsx
  apps/mobile/src/components/OfflineBanner.tsx
  apps/mobile/src/components/Toast.tsx
  apps/mobile/src/components/UnauthenticatedScreen.tsx
  apps/mobile/src/components/ui/period-selector.tsx
  apps/mobile/src/components/ui/user-avatar.tsx
Due: none

Polish mobile app after code review and add theme preference
  apps/mobile/app/(auth)/pair.tsx
  apps/mobile/app/(drawer)/(tabs)/(dashboard)/index.tsx
  apps/mobile/app/(drawer)/(tabs)/(users)/index.tsx
  apps/mobile/app/settings/index.tsx
  apps/mobile/src/components/settings/ThemePreferencePicker.tsx
  apps/mobile/src/hooks/index.ts
  apps/mobile/src/lib/storage.ts
  apps/mobile/src/lib/validation.ts
  apps/mobile/src/providers/QueryProvider.tsx
  apps/mobile/src/providers/SocketProvider.tsx
  apps/mobile/src/providers/ThemeProvider.tsx
Due: none

Simplify Alerts empty states with clean centered design
  apps/mobile/app/alerts.tsx
Due: none

Fix CPU/RAM bars and quality badge pills with inline styles
  apps/mobile/src/components/history/HistoryRow.tsx
  apps/mobile/src/components/server/ServerResourceCard.tsx
Due: none

Improve violation filters UI in notification settings
  apps/mobile/app/settings/notifications.tsx
Due: none

Add V2 rule display with human-readable summaries in rules list
  apps/web/src/components/rules/index.ts
  apps/web/src/hooks/queries/useRulesV2.ts
  apps/web/src/lib/rules/index.ts
  apps/web/src/lib/rules/ruleDisplay.tsx
  apps/web/src/pages/Rules.tsx
  packages/shared/src/types.ts
Due: none

Fix manual pairing form reset on error
  apps/mobile/src/lib/authStateStore.ts
Due: none

Fix Android push token registration (#278)
  apps/mobile/src/hooks/usePushNotifications.ts
  apps/mobile/src/lib/authStateStore.ts
Due: none

Path conditions:
  Utilities: any of: apps/server/src/utils/**
  Services: any of: apps/server/src/services/**
  Routes: any of: apps/server/src/routes/**
  Background Jobs: any of: apps/server/src/jobs/**
