Repository JamsRepos/Tracearr: changes, and which Codecov flags are due for each by the changed paths.
All: Utilities, Services, Routes, Background Jobs

codecov.yml:

# Codecov Configuration
# https://docs.codecov.com/docs/codecov-yaml

coverage:
  # Project coverage - overall repository coverage
  status:
    project:
      default:
        # Current baseline ~28%, allow small drops
        target: 25%
        threshold: 2%
        # Only check coverage on server package
        paths:
          - "apps/server/src/**"

    # Patch coverage - new/modified code must meet threshold
    patch:
      default:
        # New code should have reasonable coverage
        target: 60%
        threshold: 5%
        paths:
          - "apps/server/src/**"

  # Ignore files that shouldn't count toward coverage
  ignore:
    - "**/*.test.ts"
    - "**/*.spec.ts"
    - "**/test/**"
    - "**/tests/**"
    - "**/__tests__/**"
    - "**/node_modules/**"
    - "**/dist/**"
    - "**/*.d.ts"
    - "**/types.ts"
    # Config files
    - "**/*.config.ts"
    - "**/*.config.js"

# Comment configuration for PRs
comment:
  layout: "header, diff, flags, components"
  behavior: default
  require_changes: true
  require_base: false
  require_head: true

# Component coverage - track coverage by area
component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        threshold: 2%

  individual_components:
    - component_id: utils
      name: Utilities
      paths:
        - apps/server/src/utils/**

    - component_id: services
      name: Services
      paths:
        - apps/server/src/services/**

    - component_id: routes
      name: Routes
      paths:
        - apps/server/src/routes/**

    - component_id: jobs
      name: Background Jobs
      paths:
        - apps/server/src/jobs/**

# Flag management for different test types
flag_management:
  default_rules:
    carryforward: true
    statuses:
      - type: project
        target: auto
      - type: patch
        target: 60%

  individual_flags:
    - name: unit
      paths:
        - apps/server/src/utils/**
        - apps/server/src/services/mediaServer/**
      carryforward: true

    - name: services
      paths:
        - apps/server/src/services/**
        - apps/server/src/jobs/**
      carryforward: true

    - name: routes
      paths:
        - apps/server/src/routes/**
      carryforward: true

    - name: integration
      paths:
        - apps/server/src/**
      carryforward: true

# GitHub integration
github_checks:
  annotations: true

update CI workflows for multi-suite coverage reporting
  .github/workflows/ci.yml
  .github/workflows/release.yml
Due: none

add scheduled stale session sweep to poller
  apps/server/src/jobs/poller/index.ts
  apps/server/src/jobs/poller/processor.ts
Due: Background Jobs

ignore tsbuildinfo files
  .gitignore
Due: none

remove debug logging from plex client
  apps/server/src/services/mediaServer/plex/client.ts
Due: Services

align mobile styling with web app theme
  apps/mobile/global.css
  apps/mobile/src/components/ui/badge.tsx
  apps/mobile/src/components/ui/button.tsx
  apps/mobile/src/components/ui/card.tsx
  apps/mobile/src/lib/theme.ts
Due: none

fix pnpm setup order in mobile release workflow
  .github/workflows/mobile-release.yml
Due: none

fix leaflet map z-index overlapping sidebar and popovers
  apps/web/src/components/map/StreamCard.tsx
  apps/web/src/components/map/StreamMap.tsx
  apps/web/src/pages/Map.tsx
Due: none

fix: use expo-github-action@main to resolve cache issues
  .github/workflows/mobile-release.yml
Due: none

include serverId in violation websocket events
  apps/server/src/jobs/poller/violations.ts
Due: Background Jobs

update violations test for nested response structure
  apps/server/src/routes/__tests__/violations.test.ts
Due: Routes

optimize tautulli import performance
  apps/server/src/services/tautulli.ts
Due: Services

add webhook format selector UI to settings page
  apps/web/src/components/ui/select.tsx
  apps/web/src/pages/Settings.tsx
Due: none

cleanup
  CLAUDE.md
  KEYWORD_STRATEGY.md
  TEST_COVERAGE_REPORT.md
  docs/plans/2025-12-04-mobile-device-management-design.md
  docs/plans/2025-12-04-mobile-device-management-implementation.md
  docs/plans/multi-server-implementation-plan.md
  docs/plans/time-range-selector-implementation-plan.md
Due: none

Add ACTIVE_SESSION_IDS Redis key constant
  packages/shared/src/constants.ts
Due: none

Display identityName across all pages
  apps/web/src/hooks/useSocket.tsx
  apps/web/src/pages/Map.tsx
  apps/web/src/pages/UserDetail.tsx
  apps/web/src/pages/Users.tsx
  apps/web/src/pages/Violations.tsx
  apps/web/src/pages/stats/Users.tsx
Due: none

Added Jellyfin admin account authentication method
  apps/server/src/db/migrations/0017_slim_warstar.sql
  apps/server/src/db/migrations/0018_wonderful_sister_grimm.sql
  apps/server/src/db/migrations/meta/0017_snapshot.json
  apps/server/src/db/migrations/meta/0018_snapshot.json
  apps/server/src/db/migrations/meta/_journal.json
  apps/server/src/db/schema.ts
  apps/server/src/routes/auth/jellyfin.ts
  apps/server/src/routes/auth/local.ts
  apps/server/src/routes/settings.ts
  apps/server/src/routes/setup.ts
  apps/web/src/lib/api.ts
  apps/web/src/pages/Login.tsx
  apps/web/src/pages/Settings.tsx
  packages/shared/src/schemas.ts
  packages/shared/src/types.ts
Due: Routes

Update test to include new auth options
  apps/server/src/routes/__tests__/setup.test.ts
Due: Routes

Enhance settings creation logic to include additional fields and defaults in the database insert operation
  apps/server/src/routes/settings.ts
Due: Routes

Refactor login schema to remove Jellyfin login handling, which is now managed separately at /auth/jellyfin/login
  apps/server/src/routes/auth/local.ts
Due: Routes

FIx lint issues with build action
  apps/server/src/routes/auth/jellyfin.ts
  apps/server/src/routes/setup.ts
Due: Routes

Update primary_auth_method column in settings table to be NOT NULL and remove redundant migration file
  apps/server/src/db/migrations/0017_slim_warstar.sql
  apps/server/src/db/migrations/0018_wonderful_sister_grimm.sql
  apps/server/src/db/migrations/meta/0018_snapshot.json
  apps/server/src/db/migrations/meta/_journal.json
Due: none

Update notification job settings and adjust user creation fields in Jellyfin routes to use undefined instead of null
  apps/server/src/jobs/notificationQueue.ts
  apps/server/src/routes/auth/jellyfin.ts
Due: Routes, Background Jobs

Refactor migration for primary_auth_method: set column to NOT NULL and remove obsolete migration file
  apps/server/src/db/migrations/0017_broken_husk.sql
  apps/server/src/db/migrations/0017_slim_warstar.sql
  apps/server/src/db/migrations/meta/0017_snapshot.json
  apps/server/src/db/migrations/meta/_journal.json
Due: none

Update migration for primary_auth_method: add column with default value and NOT NULL constraint
  apps/server/src/db/migrations/0017_broken_husk.sql
Due: none

Fix mobile-build workflow version management
  .github/workflows/mobile-build.yml
Due: none

Fix EAS version management for managed workflow
  .github/workflows/mobile-build.yml
Due: none

Remove eas build:version:set (no non-interactive support)
  .github/workflows/mobile-build.yml
Due: none

Reset Jellyfin username and password fields upon successful login in the Login component
  apps/web/src/pages/Login.tsx
Due: none

Add imperial unit system support for distances and speeds
  apps/mobile/app/(tabs)/alerts.tsx
  apps/mobile/src/hooks/useServerStatistics.ts
  apps/mobile/src/lib/api.ts
  apps/server/src/db/schema.ts
  apps/server/src/jobs/notificationQueue.ts
  apps/server/src/routes/settings.ts
  apps/server/src/utils/__tests__/unitConversion.test.ts
  apps/web/src/components/violations/ViolationDetailDialog.tsx
  apps/web/src/pages/Rules.tsx
  apps/web/src/pages/Settings.tsx
  apps/web/src/utils/violationDescription.ts
  packages/shared/src/constants.ts
  packages/shared/src/index.ts
  packages/shared/src/schemas.ts
  packages/shared/src/types.ts
Due: Utilities, Routes, Background Jobs

Add explicit types to useServerStatistics hook
  apps/mobile/src/hooks/useServerStatistics.ts
Due: none

Add detailed import progress tracking types
  packages/shared/src/types.ts
Due: none

Add videoDecision and audioDecision to dashboard test fixtures
  apps/server/src/routes/__tests__/dashboard.test.ts
Due: Routes

Fix TimescaleDB decompression limit for migrations on compressed data
  docker/Dockerfile.timescale
  docker/entrypoint-supervised.sh
  docker/examples/docker-compose.example.yml
Due: none

Exclude local for certain rules
  apps/server/src/services/__tests__/rules.test.ts
  apps/server/src/services/rules.ts
Due: Services

Add covering index for active session lookups
  apps/server/src/db/migrations/0027_covering_index_optimization.sql
  apps/server/src/db/migrations/meta/0027_snapshot.json
  apps/server/src/db/migrations/meta/_journal.json
Due: none

Add server health notifications with 60s threshold delay
  apps/server/src/jobs/sseProcessor.ts
Due: Background Jobs

Add tests for SSE processor server health notifications
  apps/server/src/jobs/__tests__/sseProcessor.test.ts
Due: Background Jobs

lint fixes
  apps/mobile/app/violation/[id].tsx
Due: none

Feat/husky pre commit hooks (#60)
  .github/workflows/ci.yml
  .github/workflows/mobile-build.yml
  .github/workflows/mobile-release.yml
  .github/workflows/nightly.yml
  .github/workflows/release.yml
  .husky/pre-commit
  .husky/pre-push
  .lintstagedrc.json
  apps/mobile/.eslintignore
  apps/server/src/routes/auth/__tests__/plex.test.ts
  apps/server/src/routes/auth/plex.ts
  apps/web/src/components/settings/PlexAccountsManager.tsx
  apps/web/src/pages/Settings.tsx
  docker/examples/README.md
  eslint.config.js
  package.json
  pnpm-lock.yaml
Due: Routes

Update "Daily" aggregate counts #115
  apps/server/src/routes/stats/dashboard.ts
  apps/server/src/routes/stats/engagement.ts
Due: Routes
