Repository JamsRepos/Tracearr: changes, and which Codecov flags are due for each by the changed paths.
All: Utilities, Services, Routes, Background Jobs

codecov.yml:

# Codecov Configuration
# https://docs.codecov.com/docs/codecov-yaml

coverage:
  # Project coverage - overall repository coverage
  status:
    project:
      default:
        # Current baseline ~28%, allow small drops
        target: 25%
        threshold: 2%
        # Only check coverage on server package
        paths:
          - "apps/server/src/**"

    # Patch coverage - new/modified code must meet threshold
    patch:
      default:
        # New code should have reasonable coverage
        target: 60%
        threshold: 5%
        paths:
          - "apps/server/src/**"

  # Ignore files that shouldn't count toward coverage
  ignore:
    - "**/*.test.ts"
    - "**/*.spec.ts"
    - "**/test/**"
    - "**/tests/**"
    - "**/__tests__/**"
    - "**/node_modules/**"
    - "**/dist/**"
    - "**/*.d.ts"
    - "**/types.ts"
    # Config files
    - "**/*.config.ts"
    - "**/*.config.js"

# Comment configuration for PRs
comment:
  layout: "header, diff, flags, components"
  behavior: default
  require_changes: true
  require_base: false
  require_head: true

# Component coverage - track coverage by area
component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        threshold: 2%

  individual_components:
    - component_id: utils
      name: Utilities
      paths:
        - apps/server/src/utils/**

    - component_id: services
      name: Services
      paths:
        - apps/server/src/services/**

    - component_id: routes
      name: Routes
      paths:
        - apps/server/src/routes/**

    - component_id: jobs
      name: Background Jobs
      paths:
        - apps/server/src/jobs/**

# Flag management for different test types
flag_management:
  default_rules:
    carryforward: true
    statuses:
      - type: project
        target: auto
      - type: patch
        target: 60%

  individual_flags:
    - name: unit
      paths:
        - apps/server/src/utils/**
        - apps/server/src/services/mediaServer/**
      carryforward: true

    - name: services
      paths:
        - apps/server/src/services/**
        - apps/server/src/jobs/**
      carryforward: true

    - name: routes
      paths:
        - apps/server/src/routes/**
      carryforward: true

    - name: integration
      paths:
        - apps/server/src/**
      carryforward: true

# GitHub integration
github_checks:
  annotations: true

Block unnecessary Android permissions
  apps/mobile/app.json
Due: none

Change Android package to com.tracearr.mobile for new Google Play app
  apps/mobile/app.json
Due: none

Added the ability to set Jellyfin owner to prevent account clashes
  apps/server/src/db/migrations/0049_public_legion.sql
  apps/server/src/db/migrations/meta/0049_snapshot.json
  apps/server/src/db/migrations/meta/_journal.json
  apps/server/src/db/schema.ts
  apps/server/src/routes/auth/jellyfin.ts
  apps/server/src/routes/settings.ts
  apps/server/src/services/__tests__/notify.test.ts
  apps/web/src/components/settings/AccessSettings.tsx
  apps/web/src/hooks/queries/index.ts
  apps/web/src/hooks/queries/useSettings.ts
  apps/web/src/lib/api.ts
  packages/shared/src/schemas.ts
  packages/shared/src/types.ts
Due: Services, Routes

Updated the front-end view to be standard when Local Account is selected
  apps/web/src/components/settings/AccessSettings.tsx
Due: none

Fix #273 - fall back to album art not track art.
  apps/server/src/services/mediaServer/__tests__/emby-parser.test.ts
  apps/server/src/services/mediaServer/shared/__tests__/jellyfinEmbyUtils.test.ts
  apps/server/src/services/mediaServer/shared/jellyfinEmbyParser.ts
  apps/server/src/services/mediaServer/shared/jellyfinEmbyUtils.ts
  apps/server/src/services/mediaServer/types.ts
Due: Services

Fix issue where we did not update transcode details after resolution change
  apps/server/src/jobs/poller/processor.ts
  apps/server/src/services/mediaServer/plex/parser.ts
Due: Services, Background Jobs

Add missing server filters to charts
  apps/server/src/routes/stats/platforms.ts
  apps/server/src/routes/stats/quality.ts
Due: Routes

lint fix
  apps/server/src/services/mediaServer/plex/parser.ts
Due: Services

Fix old transcode logic in devices
  apps/server/src/routes/stats/devices.ts
Due: Routes

Skip problematic tautulli records
  apps/server/src/services/tautulli.ts
Due: Services

Add mobile session renaming feature and update server details handling
  apps/server/src/routes/__tests__/mobile.test.ts
  apps/server/src/routes/__tests__/servers.test.ts
  apps/server/src/routes/mobile.ts
  apps/server/src/routes/servers.ts
  apps/web/src/components/settings/MobileSettings.tsx
  apps/web/src/components/settings/ServerSettings.tsx
  apps/web/src/hooks/queries/index.ts
  apps/web/src/hooks/queries/useMobile.ts
  apps/web/src/hooks/queries/useServers.ts
  apps/web/src/lib/api.ts
  packages/shared/src/index.ts
  packages/shared/src/schemas.ts
  packages/translations/src/locales/de/notifications.json
  packages/translations/src/locales/en/notifications.json
  packages/translations/src/locales/pt/notifications.json
Due: Routes

Added the ability to disable login options and re-order priority in a unified dropdown
  apps/server/src/db/migrations/0050_bright_rachel_grey.sql
  apps/server/src/db/migrations/meta/0050_snapshot.json
  apps/server/src/db/migrations/meta/_journal.json
  apps/server/src/db/schema.ts
  apps/server/src/routes/__tests__/setup.test.ts
  apps/server/src/routes/settings.ts
  apps/server/src/routes/setup.ts
  apps/server/src/services/__tests__/notify.test.ts
  apps/web/src/components/settings/AccessSettings.tsx
  apps/web/src/components/settings/LoginMethodsMultiSelect.tsx
  apps/web/src/hooks/useDebouncedSave.ts
  apps/web/src/lib/api.ts
  apps/web/src/pages/Login.tsx
  packages/shared/src/index.ts
  packages/shared/src/schemas.ts
  packages/shared/src/types.ts
  packages/translations/src/locales/de/pages.json
  packages/translations/src/locales/en/pages.json
  packages/translations/src/locales/pt/pages.json
Due: Services, Routes

Fix a lint error
  apps/web/src/hooks/useDebouncedSave.ts
Due: none

Additional typecheck fixes
  apps/web/src/hooks/useDebouncedSave.ts
Due: none

Refactor server URL validation logic to only check when the URL changes. Update ServerSettings component to simplify URL input rendering.
  apps/server/src/routes/servers.ts
  apps/web/src/components/settings/ServerSettings.tsx
Due: Routes
