Repository JamsRepos/Tracearr: changes, and which Codecov flags are due for each by the changed paths.
All: Utilities, Services, Routes, Background Jobs

Round 3 on fixing duplicate notifications for certain triggers
  apps/server/src/jobs/poller/__tests__/violations-dedup.test.ts
  apps/server/src/jobs/poller/violations.ts
Due: Background Jobs

Android keystore fixes
  apps/mobile/app/_layout.tsx
  apps/mobile/src/lib/authStore.ts
  apps/mobile/src/lib/crypto.ts
  apps/mobile/src/lib/resilientStorage.ts
  apps/mobile/src/lib/storage.ts
Due: none

lint fixes
  apps/server/src/routes/stats/plays.ts
Due: Routes

Feature: Transcode Data Views (#144)
  apps/server/src/db/timescale.ts
  apps/server/src/jobs/importQueue.ts
  apps/server/src/routes/import.ts
  apps/server/src/routes/sessions.ts
  apps/server/src/routes/stats/bandwidth.ts
  apps/server/src/routes/stats/devices.ts
  apps/server/src/routes/stats/index.ts
  apps/server/src/routes/stats/quality.ts
  apps/server/src/services/tautulli.ts
  apps/web/src/App.tsx
  apps/web/src/components/layout/nav-data.ts
  apps/web/src/hooks/queries/index.ts
  apps/web/src/hooks/queries/useStats.ts
  apps/web/src/lib/api.ts
  apps/web/src/pages/Settings.tsx
  apps/web/src/pages/stats/Bandwidth.tsx
  apps/web/src/pages/stats/Devices.tsx
  apps/web/src/pages/stats/index.ts
  packages/shared/src/index.ts
  packages/shared/src/schemas.ts
  packages/shared/src/types.ts
Due: Services, Routes, Background Jobs

Oops
  apps/server/src/routes/stats/concurrent.ts
  apps/server/src/routes/stats/index.ts
  apps/server/src/routes/stats/platforms.ts
  apps/server/src/routes/stats/quality.ts
Due: Routes

Device page updates
  apps/server/src/routes/stats/devices.ts
  apps/web/src/pages/stats/Devices.tsx
  packages/shared/src/types.ts
Due: Routes

First pass at German translations (#139)
  packages/translations/src/config.ts
  packages/translations/src/language.ts
  packages/translations/src/locales/de/common.json
  packages/translations/src/locales/de/nav.json
  packages/translations/src/locales/de/notifications.json
  packages/translations/src/locales/de/rules.json
  packages/translations/src/locales/de/sessions.json
  packages/translations/src/locales/de/settings.json
Due: none

Add option to update existing dataset for jellystat import
  apps/server/src/jobs/importQueue.ts
  apps/server/src/routes/import.ts
  apps/server/src/services/import/deduplication.ts
  apps/server/src/services/jellystat.ts
  apps/web/src/lib/api.ts
  apps/web/src/pages/Settings.tsx
  packages/shared/src/schemas.ts
  packages/shared/src/types.ts
Due: Services, Routes, Background Jobs

refactor forms. fixes #171
  apps/web/package.json
  apps/web/src/components/ui/autosave-field.tsx
  apps/web/src/components/ui/dialog.tsx
  apps/web/src/components/ui/field.tsx
  apps/web/src/components/ui/input.tsx
  apps/web/src/components/ui/label.tsx
  apps/web/src/components/ui/separator.tsx
  apps/web/src/components/ui/textarea.tsx
  apps/web/src/components/ui/time-range-picker.tsx
  apps/web/src/hooks/useDebouncedSave.ts
  apps/web/src/pages/Settings.tsx
  packages/shared/src/schemas.ts
  pnpm-lock.yaml
Due: none

Add Pushover notification support
  apps/server/src/db/migrations/0036_closed_donald_blake.sql
  apps/server/src/db/migrations/meta/0036_snapshot.json
  apps/server/src/db/migrations/meta/_journal.json
  apps/server/src/db/schema.ts
  apps/server/src/jobs/notificationQueue.ts
  apps/server/src/routes/__tests__/settings.test.ts
  apps/server/src/routes/settings.ts
  apps/server/src/services/__tests__/notify.test.ts
  apps/server/src/services/notify.ts
  apps/web/src/lib/api.ts
  apps/web/src/pages/Settings.tsx
  packages/shared/src/schemas.ts
  packages/shared/src/types.ts
Due: Services, Routes, Background Jobs

Update template + add logs section to readme
  .github/ISSUE_TEMPLATE/bug-report.yml
  README.md
Due: none

Track server user last activity based on latest stream date (#165)
  apps/server/src/db/migrations/0037_add_server_user_last_activity.sql
  apps/server/src/db/migrations/meta/_journal.json
  apps/server/src/db/schema.ts
  apps/server/src/jobs/poller/sessionLifecycle.ts
  apps/server/src/routes/users/full.ts
  apps/server/src/routes/users/list.ts
  apps/server/src/services/userService.ts
  apps/server/src/test/fixtures.ts
  apps/web/src/pages/UserDetail.tsx
  apps/web/src/pages/Users.tsx
  packages/shared/src/types.ts
Due: Services, Routes, Background Jobs

Enhancement: Allow sorting by data usage in Stats/Bandwidth page (#173)
  apps/web/src/pages/stats/Bandwidth.tsx
Due: none

fix session dates to ISO 8601 format for mobile parsing
  apps/server/src/routes/sessions.ts
Due: Routes

Added avatar to Bandwidth & Devices pages
  apps/web/src/pages/stats/Bandwidth.tsx
  apps/web/src/pages/stats/Devices.tsx
Due: none

Fix browsers defaulting to the background favicon for clarity
  apps/web/index.html
Due: none

Added document title to all pages
  apps/web/src/App.tsx
  apps/web/src/hooks/index.ts
  apps/web/src/hooks/useDocumentTitle.ts
Due: none

Added the ability to drag and reorder servers
  apps/server/src/db/migrations/0039_ancient_mole_man.sql
  apps/server/src/db/migrations/meta/0039_snapshot.json
  apps/server/src/db/migrations/meta/_journal.json
  apps/server/src/db/schema.ts
  apps/server/src/routes/__tests__/servers.test.ts
  apps/server/src/routes/servers.ts
  apps/web/package.json
  apps/web/src/hooks/queries/index.ts
  apps/web/src/hooks/queries/useServers.ts
  apps/web/src/lib/api.ts
  apps/web/src/pages/Settings.tsx
  packages/shared/src/index.ts
  packages/shared/src/schemas.ts
  packages/shared/src/types.ts
  pnpm-lock.yaml
Due: Routes

Added episode details to the recent sessions within user profiles
  apps/web/src/pages/UserDetail.tsx
Due: none

Refactor media display logic to a centralised utility function
  apps/server/src/routes/users/terminations.ts
  apps/web/src/components/history/HistoryTable.tsx
  apps/web/src/components/history/SessionDetailSheet.tsx
  apps/web/src/components/sessions/NowPlayingCard.tsx
  apps/web/src/lib/utils.ts
  apps/web/src/pages/UserDetail.tsx
  packages/shared/src/types.ts
Due: Routes

Added missing data to termination status
  apps/server/src/routes/users/full.ts
Due: Routes

Added account inactivity rule type
  apps/server/src/db/migrations/0039_oval_kingpin.sql
  apps/server/src/db/migrations/meta/0039_snapshot.json
  apps/server/src/db/migrations/meta/_journal.json
  apps/server/src/db/schema.ts
  apps/server/src/index.ts
  apps/server/src/jobs/inactivityCheckQueue.ts
  apps/server/src/routes/__tests__/violations.test.ts
  apps/server/src/routes/rules.ts
  apps/server/src/routes/users/full.ts
  apps/server/src/routes/violations.ts
  apps/server/src/services/__tests__/rules-account-inactivity.test.ts
  apps/server/src/services/rules.ts
  apps/web/src/components/violations/ViolationDetailDialog.tsx
  apps/web/src/pages/Rules.tsx
  apps/web/src/utils/violationDescription.ts
  packages/shared/src/constants.ts
  packages/shared/src/index.ts
  packages/shared/src/schemas.ts
  packages/shared/src/types.ts
  packages/test-utils/src/factories/index.ts
  packages/test-utils/src/factories/rule.ts
Due: Services, Routes, Background Jobs

Added missing account inactivity to mobile
  apps/mobile/app/alerts.tsx
  apps/mobile/app/user/[id].tsx
  apps/mobile/app/violation/[id].tsx
Due: none

Fix lint errors
  apps/server/src/jobs/inactivityCheckQueue.ts
Due: Background Jobs

Updated migration to match main
  apps/server/src/db/migrations/0040_material_azazel.sql
  apps/server/src/db/migrations/meta/0040_snapshot.json
  apps/server/src/db/migrations/meta/_journal.json
Due: none

Fixed memory leak with debounce timer and mutation
  apps/web/src/hooks/queries/useServers.ts
Due: none

Updated migration to reflect origin/main
  apps/server/src/db/migrations/0041_elite_maria_hill.sql
  apps/server/src/db/migrations/meta/0041_snapshot.json
  apps/server/src/db/migrations/meta/_journal.json
Due: none

Added the ability to bulk action items
  apps/server/src/routes/rules.ts
  apps/server/src/routes/sessions.ts
  apps/server/src/routes/users/list.ts
  apps/server/src/routes/violations.ts
  apps/web/src/components/history/HistoryTable.tsx
  apps/web/src/components/ui/bulk-actions-toolbar.tsx
  apps/web/src/components/ui/data-table.tsx
  apps/web/src/hooks/queries/index.ts
  apps/web/src/hooks/queries/useRules.ts
  apps/web/src/hooks/queries/useSessions.ts
  apps/web/src/hooks/queries/useUsers.ts
  apps/web/src/hooks/queries/useViolations.ts
  apps/web/src/hooks/useRowSelection.ts
  apps/web/src/lib/api.ts
  apps/web/src/pages/History.tsx
  apps/web/src/pages/Rules.tsx
  apps/web/src/pages/Users.tsx
  apps/web/src/pages/Violations.tsx
Due: Routes

Changed colour of stopped to avoid confusion with the new bulk controls
  apps/web/src/components/history/HistoryTable.tsx
Due: none

Added colour coordination to the action bar buttons
  apps/web/src/components/ui/bulk-actions-toolbar.tsx
  apps/web/src/pages/History.tsx
  apps/web/src/pages/Rules.tsx
  apps/web/src/pages/Users.tsx
  apps/web/src/pages/Violations.tsx
Due: none

Added confirmation window to resetting user trust score
  apps/web/src/pages/Users.tsx
Due: none

Added a startup delay to avoid false positives
  apps/server/src/jobs/inactivityCheckQueue.ts
Due: Background Jobs

Updated case type in the test
  packages/test-utils/src/factories/rule.ts
Due: none

Changed to a fixed interval of 1 hour
  apps/server/src/jobs/inactivityCheckQueue.ts
  apps/server/src/services/__tests__/rules-account-inactivity.test.ts
  apps/web/src/pages/Rules.tsx
  packages/shared/src/constants.ts
  packages/shared/src/schemas.ts
  packages/shared/src/types.ts
  packages/test-utils/src/factories/rule.ts
Due: Services, Background Jobs

Removed additional notification types
  apps/server/src/jobs/inactivityCheckQueue.ts
  apps/server/src/services/__tests__/rules-account-inactivity.test.ts
  apps/web/src/pages/Rules.tsx
  packages/shared/src/constants.ts
  packages/shared/src/index.ts
  packages/shared/src/schemas.ts
  packages/shared/src/types.ts
  packages/test-utils/src/factories/rule.ts
Due: Services, Background Jobs

Add Bearer token auth and API key management endpoints (#68)
  apps/server/src/plugins/auth.ts
  apps/server/src/routes/settings.ts
Due: Routes

Update database commands in package.json to include configuration file for drizzle-kit
  apps/server/drizzle.config.cjs
  apps/server/package.json
Due: none

Cleanup old config file
  apps/server/drizzle.config.ts
Due: none

update server dependencies to latest versions
  apps/server/package.json
  apps/server/src/index.ts
  apps/server/src/routes/sessions.ts
  apps/server/src/routes/users/list.ts
  apps/server/src/routes/users/sessions.ts
  apps/server/src/routes/users/terminations.ts
  apps/server/src/routes/violations.ts
Due: Routes

Add library statistics and snapshots feature
  apps/server/src/db/migrations/0043_parched_giant_girl.sql
  apps/server/src/db/migrations/meta/0043_snapshot.json
  apps/server/src/db/migrations/meta/_journal.json
  apps/server/src/db/schema.ts
  apps/server/src/index.ts
  apps/server/src/jobs/libraryStatsQueue.ts
  apps/server/src/routes/stats/content.ts
  apps/server/src/routes/stats/engagement.ts
  apps/server/src/routes/stats/index.ts
  apps/server/src/routes/stats/libraries.ts
  apps/server/src/services/libraryStats.ts
  apps/web/src/App.tsx
  apps/web/src/components/charts/LibraryComparisonChart.tsx
  apps/web/src/components/charts/LibraryGrowthChart.tsx
  apps/web/src/components/charts/index.ts
  apps/web/src/components/layout/nav-data.ts
  apps/web/src/components/ui/library-stat-card.tsx
  apps/web/src/hooks/queries/index.ts
  apps/web/src/hooks/queries/useStats.ts
  apps/web/src/lib/api.ts
  apps/web/src/lib/utils.ts
  apps/web/src/pages/stats/LibraryStats.tsx
  apps/web/src/pages/stats/TopContent.tsx
  apps/web/src/pages/stats/index.ts
  packages/shared/src/index.ts
  packages/shared/src/types.ts
Due: Services, Routes, Background Jobs

Path conditions:
  Utilities: any of: apps/server/src/utils/**
  Services: any of: apps/server/src/services/**
  Routes: any of: apps/server/src/routes/**
  Background Jobs: any of: apps/server/src/jobs/**
